AWS_ACCESS_KEY_ID=
AWS_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0
COGNITO_APP_CLIENT_ID=
COGNITO_USER_POOL_ID=
DYNAMODB_TABLE_NAME=DigitanoProjects
GEMINI_API_KEY=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=